.login-box{
    border-radius:30px;
    box-shadow: 5px 5px 10px 1px grey;
}
.error{
    color: red;
}
.noResult{
    font-size:5vh;
    font-family: Courier, Monaco, monospace;
  }
  .card-l{
        text-decoration: none;
        color:black;
    }
.cart-badge{
    position: relative;
    margin-top: -37px;
    margin-left: 28px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: red;
}
.cart-badge p{
    margin-top: -5px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.arrow-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    margin-top: -35%;
    cursor: pointer;
}  
.arrow-buttons a{
  color: black;
  background-color: rgba(241, 241, 234, 0.76);
  text-decoration: none;
  padding: 3px;
  font-size: 26px;
}
.right {  
  right: 0;  
  border-radius: 3px 0 0 3px;  
}  

.arrow-buttons .left:hover,.arrow-buttons .right:hover {  
  background-color: rgba(115, 115, 115, 0.8);  
}  
.slide .left a , .right a {
    color: black;
    background-color: rgba(243, 243, 236, 0.781);
    text-decoration: none;
    padding: 3px;
    font-size: 26px;
}
 
.slide .left, .slide .right{
  width: 30px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}
.slide{
  align-items: center;
  justify-content: center;
}
.slide .left a:hover, .slide .right a:hover{
  background-color: rgba(115, 115, 115, 0.8);  
  color:white;
}
.txt{
  width:30%;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
}

.number{
  text-align: center;
  font-size: 5rem;
}

.contact-user-img{
  width: 100px;
  height: 100px;
  position: relative;
  
}
.section-title{
  margin-top: 2.7rem;
} 

.multi-column {
  /* Standard */
  column-count: 2;
  column-width: 150px;
  /* Webkit-based */
  -webkit-column-count: 2;
  -webkit-column-width: 150px;
  /* Gecko-based */
  -moz-column-count: 2;
  -moz-column-width: 150px;
}

/* Add to cart */
.add-to-cart{
  position: absolute;
  bottom: 14px;
  width: 88%;
  margin: auto;
}

/* end of add to cart */
/* footer */
.footer{
  position: fixed;
  height: 60px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #414040;
}

/* end of  footer */
.copyright-text{
  align-items: center;
  padding-top: 15px;
}
.insta{
  color: rgb(185, 29, 185);
  padding: 5px 8px;
  font-size: 30px;
}
.insta:hover{
  transition: .5s;
  color: white;
  border-radius: 10px;
  background-color: rgb(185, 29, 185);
}
.facebook{
  color: rgb(54, 35, 231);
  padding: 5px 10px;
  font-size: 30px;
}
.facebook:hover{
  transition: .5s;
  color: white;
  border-radius: 10px;
  background-color: rgb(54, 35, 231);
}
.twitter{
  color: rgb(67, 154, 224);
  padding: 3px 6px;
  font-size: 30px;
}
.twitter:hover{
  transition: .5s;
  color: white;
  border-radius: 10px;
  background-color: rgb(67, 154, 224);
}
/* copyright a */
.copyright a{
  text-decoration: none;
  font-size: 36px;
  font-weight: 800;
  padding: 10px auto;
  color: white;
}
.copyright span{
  padding: 10px;
  margin-top: -40px;
}

/* end of  copyright a */