.login-box{
    border-radius:30px;
    box-shadow: 5px 5px 10px 1px grey;
}
.error{
    color: red;
}
.noResult{
    font-size:5vh;
    font-family: Courier, Monaco, monospace;
  }
  .card-l{
        text-decoration: none;
        color:black;
    }
.cart-badge{
    position: relative;
    margin-top: -37px;
    margin-left: 28px;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: red;
}
.cart-badge p{
    margin-top: -5px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.arrow-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    margin-top: -35%;
}
.arrow-buttons a{
    color: black;
    background-color: rgba(241, 241, 234, 0.76);
    text-decoration: none;
    padding: 3px;
    font-size: 26px;
}
.left, .right {  
    cursor: pointer;  
     
}  
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
.left:hover, .right:hover {  
    background-color: rgba(115, 115, 115, 0.8);  
}  


.txt{
  width:30%;
  outline: none;
  border: none;
  border-bottom: 2px solid gray;
  text-align: center;
}

.number{
  text-align: center;
  font-size: 5rem;
}